<html>
    <style>
        #login {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #login li {
            display: inline;
            margin: 0 8px;
        }
    </style>
    <body>
        <ul id="login">

            <a href="{% url 'signup' %}">
            <li>Registrarse</li>
            </a>

            <a href="{% url 'login' %}">
                <li>Ingresar</li>
            </a>
    

            {% if user.is_authenticated%}
            <li>
                Usuario: {{user.username}}
            </li>
            <li>
                <a href="{% url '/account/logout'}">Cerrar sesión</a>
            </li>
            {% endif %}

        </ul>
    </body>
</html>